<div class="card-deck mt-3">
  <div class="card bg-light">
    <div class="card-body text-left">
      {{#unless user.isWorking}}
        <h6 class="card-text mb-3">Điểm danh bắt đầu</h6>
        <form action="/attendance?type=start" method="POST">
          <div class="form-group">
            <label for="name">Họ và tên</label>
            <input
              type="text"
              class="form-control"
              name="name"
              value="{{user.name}}"
              disabled
            />
          </div>
          <div class="form-group">
            <label for="workplace">Nơi làm việc</label>
            <select name="workplace" class="form-control" required>
              <option value="Công ty">Công Ty</option>
              <option value="Nhà">Nhà</option>
              <option value="Khách Hàng">Khách Hàng</option>
            </select>
          </div>
          <button type="submit" class="btn btn-secondary">Check-in</button>
        </form>
      {{else}}
        <h6 class="card-text mb-3">Kết thúc làm</h6>
        <form action="/attendance?type=stop" method="POST">
          <button type="submit" class="btn btn-secondary">Check-out</button>
        </form>
      {{/unless}}
    </div>
  </div>
  <div class="card bg-light">
    <div class="card-body text-left">
      <h6 class="card-text mb-3">Đăng ký nghỉ phép</h6>
      <a href="/absence">Link đăng ký</a>
    </div>
  </div>
</div>