<div class="card card-body">
  <h3>Thông tin check out</h3>
  {{! <form action="/posts" method="post">
    <div class="form-group">
      <label for="fullname">Họ và tên</label>
      <input type="text" class="form-control" name="fullname" />
    </div>
    <div class="form-group">
      <label for="workingPlace">Nơi làm việc</label>
      <select name="workingPlace" id="workingPlace" class="form-control">
        <option value="Công ty" class="form-control">Công ty</option>
        <option value="Remote" class="form-control">Remote</option>
        <option value="Đi công tác" class="form-control">Đi công tác</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Check in</button>
  </form> }}
</div>