{{#unless isWorking}}
  {{#if userName}}
    <div class="jumbotron">
      <h4 class="title">{{userName}} đang không làm việc</h4>
      <p>Chúc bạn một ngày tốt lành !!!</p>
      <img
        src="https://flyclipart.com/thumb2/have-a-nice-day-clip-art-833432.png"
        alt="you are not working"
        width="30%"
      />
    </div>
  {{/if}}
{{else}}
  {{#if userName}}
    <div class="jumbotron">
      <h4 class="title">{{userName}} đang làm việc tại {{workplace}}</h4>
      <p>Chúc bạn một ngày làm việc hiệu quả !!!</p>
      <img
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/84/Black_Man_Working_at_his_Desk_Cartoon_Vector.svg/800px-Black_Man_Working_at_his_Desk_Cartoon_Vector.svg.png"
        alt="you are working"
      />
    </div>
  {{/if}}
{{/unless}}