<div class="card card-body">
  <h3>Điền thông tin check in</h3>
  <form action="/timesheet" method="post">
    <div class="form-group">
      <label for="fullname">Họ và tên</label>
      <input
        type="text"
        class="form-control"
        name="fullname"
        value="{{check-ins.employeeId}}"
        disabled
      />
    </div>
    <div class="form-group">
      <label for="workingPlace">Nơi làm việc</label>
      <select name="workingPlace" id="workingPlace" class="form-control">
        <option value="Công ty" class="form-control" selected="Công ty">Công ty</option>
        <option value="Nhà" class="form-control">Nhà</option>
        <option value="Khách hàng" class="form-control">Khách hàng</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Check in</button>
  </form>
</div>